DISCORD_TOKEN=PASTE_YOUR_DISCORD_BOT_TOKEN
CLIENT_ID=PASTE_YOUR_CLIENT_ID
GUILD_ID=PASTE_YOUR_GUILD_ID
# Multiple guild IDs can be separated by commas:
# GUILD_ID=FIRST_GUILD_ID,SECOND_GUILD_ID
MONGO_URI=mongodb+srv://user:password@cluster0.mongodb.net/?retryWrites=true&w=majority
MONGO_DB_NAME=extra_kategorie